body {
  text-align: center;
  background-color:#F4F8F7；
}

h1 {
  color:#95A5A6;
  font-size:20px;
  font-weight:500;
  outline-style:dashed;
  outline-color:#95A5A6;
}

h2 {
  font-family:Apple Chancery, cursive;
  font-size:40px;
}

p {
  font-family:monospace;
  font-size:18px;
}

img {
  color: grey;
  border-width:2px;
}

.line {
border-left: 4px solid red;
}

.poemLine {
  border-style: outset;
}
