h1 {
  color:blue;
  font-size:24px;
}

h2 {
  color:red;
  font-family:verdana;
}

p {
  color:
  font-family:
  border-style:
  border-width:
}

img {
  color:
  font-family:
  border-style:
  border-width:
}

