body {
  text-align: center;
}

h1 {
  color:#95A5A6;
  font-size:20px;
  font-weight:500;
  outline-style:dashed;
  outline-color:#95A5A6;
}

h2 {
  font-family:Blippo, fantasy;
}

p {
  font-family:Luminari, fantasy;
}

img {
  color: red;
  border-width:2px;
}

.line {
border-left: 4px solid red;
}

.poemLine {
  border-style: outset;
}
