	{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #88B7BD;
    color: white;
}

.header h1 {
    font: bold;
    font-size: 140px;
    font-family: Cursive;
}
	h1 {
    font-family: Cursive;
}
	h3 {
    font-family: Cursive;
}
	h4 {
    font-family: Cursive;
}

.row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
 
.side {
    height: 100%;
    background-color: #F1EAF1;
    padding: 20px;
}

.side a:hover {
    background-color: #90C7CE;
    color: white;
}

.main {   
	text-align: center;
    height: 100%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
